
*,
*::before,
*::after{
    margin: 0;
    padding:0;
} 

html {
    box-sizing:border-box;
    background: linear-gradient(to top, rgb(0, 71, 0),rgb(255, 255, 255));
    background-repeat: no-repeat;
}

header{
    background-color: 0;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.logo{
    position: absolute;
    left: 50px;
}

.Profilecircle { 
    position: absolute;
    right: 140px;
    width: 30px;
    display: flex;
}

.banner{
    margin: 0;
    padding:0;
    height: 95%;
    width:100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
}
.bannerText{
    position: absolute;
    bottom: 80px;
    left: 16px;
    font-size: 40px;
    color :rgb(255, 255, 255);
    background-color: gray;
}
.gap {
    margin-top: 800px;
}    
.gap2 {
    margin-top: 100px;
}   
.block{
    position: relative;
    display: flex;
    height: 400px;
    width:100%;
    background-color: rgba(213, 213, 213, 0.334);
    justify-content: center;
    align-items: center;
}

/* clicking through images */
.ThirdPosterBase{
    display: flex;
    height: 250px;
    width:160px;
    /* background-image: url("mandalposter.jpg"); */
    object-fit: scale-down;
    z-index:1;
    margin-left: 200px;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.FirstPosterBase{
    display: flex;
    height: 300px;
    width:200px;
    /* background-image: url("incepPoster.jpg"); */
    object-fit: scale-down;
    position: relative;
    z-index: 5;
}
.SecondaryPosterBase{
    display: flex;
    height: 250px;
    width:160px;
    /* background-image: url("dndposter.jpg"); */
    object-fit: scale-down;
    margin-right:200px;
    z-index: 1;
}
#leftclick{
    width: 0; 
    height: 0; 
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent; 
    border-right:50px solid rgba(93, 93, 93, 0.614); 
    background-color: rgba(255, 255, 255, 0);
}
#rightclick{
    width: 0; 
    height: 0; 
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 50px solid rgb(93, 93, 93,0.614);
    background-color: rgba(255, 255, 255, 0);
}







